<!-- Handlebars first looks for a helper of that name, before looking for a piece of data with the name in curlies -->
<footer><p>Created by Alexander Apostolov</p><p>Copyright 2016 - {{getCurrentYear}}</p></footer>
