<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Help Page</title>
  </head>
  <body>
    {{> header}}
    <p>Some text here</p>
    <!-- Instead of injecting data, inject template partial with ">" -->
    {{> footer}}
  </body>
</html>
